http:
  socket: "[::]:40230"
  tls:
    server_cert_file: /certs/edgenode.pem
    server_key_file: /certs/edgenode-key.pem
    ca_cert_file: /certs/ca.pem

node_stats:
  bandwidth:
    tx_file: {{ nss_bandwidth_tx_file }}
    rx_file: {{ nss_bandwidth_rx_file }}
    update_interval: {{ nss_bandwidth_update_interval }}
