---
consul:
  base_url: "http://docker-host:8500"
  update_interval: 1s

playlist:
  upstream_base_url: "{{ bps_upstream_base_url | mandatory }}"
  segment_signing:
    key: "{{ bps_segment_signing_key }}"
    duration: "{{ bps_segment_signing_duration }}"
  jwt_validation:
    secret: "{{ bps_jwt_validation_secret }}"
    stream_name_pattern: "{{ bps_jwt_validation_stream_name_pattern }}"

http:
  socket: "[::]:2350"
